HealthAndFitness/src/conf/xml-resources/web-service-references/HealthAndFitnessService/wsdl/localhost_8080/HealthAndFitness/HealthAndFitnessService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.HealthFitness.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.HealthFitness.com/">

<xs:element name="calculateBFP" type="tns:calculateBFP"/>

<xs:element name="calculateBFPResponse" type="tns:calculateBFPResponse"/>

<xs:element name="calculateBMI" type="tns:calculateBMI"/>

<xs:element name="calculateBMIResponse" type="tns:calculateBMIResponse"/>

<xs:element name="calculateCaloriesBurned" type="tns:calculateCaloriesBurned"/>

<xs:element name="calculateCaloriesBurnedResponse" type="tns:calculateCaloriesBurnedResponse"/>

<xs:element name="calculateSleepTimes" type="tns:calculateSleepTimes"/>

<xs:element name="calculateSleepTimesResponse" type="tns:calculateSleepTimesResponse"/>

<xs:complexType name="calculateBMI">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="weight" type="xs:double"/>
<xs:element name="heightCm" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateBMIResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateSleepTimes">
<xs:sequence>
<xs:element name="ageRange" type="xs:string" minOccurs="0"/>
<xs:element name="scheduleType" type="xs:string" minOccurs="0"/>
<xs:element name="timeInput" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateSleepTimesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateCaloriesBurned">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="weight" type="xs:double"/>
<xs:element name="activity" type="xs:string" minOccurs="0"/>
<xs:element name="durationMinutes" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateCaloriesBurnedResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateBFP">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:double"/>
<xs:element name="arg3" type="xs:double"/>
<xs:element name="arg4" type="xs:double"/>
<xs:element name="arg5" type="xs:double"/>
<xs:element name="arg6" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateBFPResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>