HealthAndFitness/src/conf/xml-resources/web-service-references/MacroCalculatorService/wsdl/localhost_8080/HealthAndFitness/MacroCalculatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.HealthFitness.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.HealthFitness.com/" name="MacroCalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.HealthFitness.com/" schemaLocation="http://localhost:8080/HealthAndFitness/MacroCalculatorService?xsd=1"/>
</xsd:schema>
</types>
<message name="BasalMetabolicRate">
<part name="parameters" element="tns:BasalMetabolicRate"/>
</message>
<message name="BasalMetabolicRateResponse">
<part name="parameters" element="tns:BasalMetabolicRateResponse"/>
</message>
<message name="CaloricGoals">
<part name="parameters" element="tns:CaloricGoals"/>
</message>
<message name="CaloricGoalsResponse">
<part name="parameters" element="tns:CaloricGoalsResponse"/>
</message>
<message name="TotalDailyEnergyExpenditure">
<part name="parameters" element="tns:TotalDailyEnergyExpenditure"/>
</message>
<message name="TotalDailyEnergyExpenditureResponse">
<part name="parameters" element="tns:TotalDailyEnergyExpenditureResponse"/>
</message>
<message name="MacroDistribution">
<part name="parameters" element="tns:MacroDistribution"/>
</message>
<message name="MacroDistributionResponse">
<part name="parameters" element="tns:MacroDistributionResponse"/>
</message>
<portType name="MacroCalculatorService">
<operation name="BasalMetabolicRate">
<input wsam:Action="http://service.HealthFitness.com/MacroCalculatorService/BasalMetabolicRateRequest" message="tns:BasalMetabolicRate"/>
<output wsam:Action="http://service.HealthFitness.com/MacroCalculatorService/BasalMetabolicRateResponse" message="tns:BasalMetabolicRateResponse"/>
</operation>
<operation name="CaloricGoals">
<input wsam:Action="http://service.HealthFitness.com/MacroCalculatorService/CaloricGoalsRequest" message="tns:CaloricGoals"/>
<output wsam:Action="http://service.HealthFitness.com/MacroCalculatorService/CaloricGoalsResponse" message="tns:CaloricGoalsResponse"/>
</operation>
<operation name="TotalDailyEnergyExpenditure">
<input wsam:Action="http://service.HealthFitness.com/MacroCalculatorService/TotalDailyEnergyExpenditureRequest" message="tns:TotalDailyEnergyExpenditure"/>
<output wsam:Action="http://service.HealthFitness.com/MacroCalculatorService/TotalDailyEnergyExpenditureResponse" message="tns:TotalDailyEnergyExpenditureResponse"/>
</operation>
<operation name="MacroDistribution">
<input wsam:Action="http://service.HealthFitness.com/MacroCalculatorService/MacroDistributionRequest" message="tns:MacroDistribution"/>
<output wsam:Action="http://service.HealthFitness.com/MacroCalculatorService/MacroDistributionResponse" message="tns:MacroDistributionResponse"/>
</operation>
</portType>
<binding name="MacroCalculatorServicePortBinding" type="tns:MacroCalculatorService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="BasalMetabolicRate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CaloricGoals">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="TotalDailyEnergyExpenditure">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="MacroDistribution">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MacroCalculatorService">
<port name="MacroCalculatorServicePort" binding="tns:MacroCalculatorServicePortBinding">
<soap:address location="http://localhost:8080/HealthAndFitness/MacroCalculatorService"/>
</port>
</service>
</definitions>